* {
  margin: 0;
}

.whole__page {
  display: flex;
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

.page__right {
  background-color: #fafafa;
  display: flex;
  padding-left: 10px;
  margin-left: 60px;
  width: 100%;
  height: fit-content;
}

.right__part {
  display: grid;
  justify-items: center;
  background-color: #fafafa;
}

.header {
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  box-shadow: 5px 5px 10px #f6f6f6;
  background-color: white;
}

.header__logo {
  width: 45%;
  padding: 20px 0 20px 0;
}

.header__options {
  padding: 10px 0 10px 0;
  cursor: pointer;
  color: gray;
  width: 65px;
  display: flex;
  justify-content: center;
}

.header__options:hover {
  color: #e31e25;
}

.header__options--home {
  color: #e31e25;
  margin-right: 0;
  border-right: 5px solid #e31e25;
}

.header__options--saved {
  color: #e31e25;
  margin-right: 0;
  border-right: 5px solid #e31e25;
}

.header__options--account {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.header__options--activeAccount {
  color: #e31e25;
  margin-right: 0;
  border-right: 5px solid #e31e25;
}

.header__options--aboutus {
  color: #e31e25;
  margin-right: 0;
  border-right: 5px solid #e31e25;
}
.search {
  display: flex;
  right: 10%;
  top: 5%;
  position: absolute;
  box-shadow: 10px 10px 10px #f6f6f6;
  border-radius: 20px;
}

.search__icon {
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  color: gray;
  cursor: pointer;
}

.search__bar {
  height: 35px;
  width: 200px;
  border: none;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search__bar:focus {
  outline: none;
}

/* Slideshow container */
.slideshow__container {
  max-width: 1500px;
  max-height: 450px;
  position: relative;
  margin: 100px 0 0 0;
  width: 95%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides > img {
  border-radius: 20px;
  max-height: 450px;
  min-height: 425px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 13px;
  height: 13px;
  margin-top: -22px;
  padding: 16px;
  color: rgba(107, 107, 107, 0.8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow__container:hover .prev {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slideshow__container:hover .next {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.prev {
  left: 20px;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.number__text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.products {
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin: 80px;
}

.product {
  border-radius: 10px;
  background-color: white;
  border: 1px solid #e9e9e9;
  margin: 10px;
  cursor: pointer;
  width: 215px;
  box-shadow: 10px 10px 10px #f6f6f6;
}

.product > a {
  text-decoration: none;
}

.product:hover {
  box-shadow: 10px 10px 10px #eeeeee;
}

.product__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.product__image > img {
  max-width: 178px;
  max-height: 192px;
}

.product__image {
  height: 192px;
}

.product__name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #969696;
  text-align: center;
  height: 55px;
}

.product__price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: #02a2b2;
}

.product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}

.product__button:hover {
  background-color: #f74258;
}

.product__button:hover .button__icon {
  color: #ffffff;
}

.product__button:hover h4 {
  color: #ffffff;
}

.button__icon {
  color: #f74258;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.button__text > h4 {
  color: #969696;
}

.machine__details,
.production__details {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #f6f6f6;
}

.production__details {
  min-width: 1000px;
}

.productDetails__top,
.productionDetails__top {
  display: flex;
}

.productionDetails__top {
  display: flex;
  justify-content: space-evenly;
}

.image__1 > img,
.productionDetails__top > img {
  padding: 10px;
  width: 450px;
  min-width: 100px;
}

.all__description {
  max-width: 500px;
  margin: 30px 10px;
  min-width: 200px;
}

.contact {
  margin: 30px 10px;
  padding-right: 10px;
}

.contact__info {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.contact__info > a,
.production__contacting > h3 {
  color: #f74258;
}

save__part {
  width: 100%;
  display: flex;
  justify-content: center;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 70%;
  cursor: pointer;
  border-radius: 10px;
}

.save__button:hover {
  background-color: #f74258;
}

.save__button:hover .save__icon {
  color: #ffffff;
}

.save__button:hover h4 {
  color: #ffffff;
}

.save__icon {
  color: #f74258;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.save__text > h4 {
  color: #969696;
}

.productDetails__bottom {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.productDetails__bottom > img {
  max-width: 350px;
  min-width: 100px;
}

.productDetails__bottom > table,
.production__contacting > table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.production__lines,
.food__equipments {
  background-color: white;
  width: 93%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #f6f6f6;
  margin: 0 0 80px 0;
}

.productionLines__heading,
.foodEquipments__heading {
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  background-color: #f74258;
  align-items: center;
  border-radius: 0 50px 50px 0;
}

.productionLines__headingName,
.foodEquipments__headingName {
  background-color: #f74258;
  padding: 10px 0 10px 15px;
  color: white;
}

.productionLines__headingNumber,
.foodEquipments__headingNumber {
  padding: 10px;
  background-color: white;
  color: #f74258;
  border-radius: 50%;
  margin: 10px;
}

.all__productions,
.all__equipments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.production__line {
  border-bottom: 3px solid rgb(224, 224, 224);
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  cursor: pointer;
}

.production__line:hover > .line__name > h3 {
  color: #e31e25;
}

.line__name {
  width: 50%;
}

.line__name > h3 {
  font-weight: 500;
  font-size: 25px;
  color: #7a7a7a;
}

.line__image {
  width: 250px;
  height: 120px;
  display: flex;
  justify-content: center;
  object-fit: fill;
}

.line__image > img {
  height: 100px;
  width: 250px;
  object-fit: cover;
  object-position: 100% 39%;
}

.production__contacting {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.productionDetails__bottom {
  margin: 40px;
}

.all__equipments {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  flex-direction: row;
  padding: 0 20px;
  justify-content: center;
}

.food__equipment {
  margin: 20px;
}

.equipment__image {
  width: 250px;
  height: 250px;
  border: 1px solid #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment__image:hover {
  border: 1px solid #e31e25;
}

.equipment__image > img {
  width: 230px;
}

.equipment__image:hover > img {
  width: 250px;
}

.equipment__image:hover > img {
  -webkit-animation-name: hoverEffect;
  -webkit-animation-duration: 0.5s;
  animation-name: hoverEffect;
  animation-duration: 0.5s;
}

@-webkit-keyframes hoverEffect {
  from {
    width: 230px;
  }
  to {
    width: 250px;
  }
}

@keyframes hoverEffect {
  from {
    width: 230px;
  }
  to {
    width: 250px;
  }
}

.equipment__name {
  width: 250px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.equipment__name > p {
  font-size: 21px;
  color: #7a7a7a;
}

.equipment__image:hover + .equipment__name > p {
  color: #e31e25;
}

:root {
  --primary-color: #fafafa;
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

/* MENU STYLES */
.menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 23px;
  height: 23px;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .hamburger > div {
  background: white;
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1.14);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

@media screen and (max-width: 770px) {
  .header {
    width: 0;
    height: 0;
    position: absolute;
  }

  .mySlides > img {
    min-height: 300px;
  }

  .whole__page {
    width: 100%;
  }

  .page__right {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
    margin: 5px;
  }

  .right__part {
    width: 100%;
  }
}

.headerMenu__logo {
  width: 35px;
}

@media screen and (max-width: 770px) and (min-width: 426px) {
  .products {
    margin: 10px;
    width: 100%;
    top: 30px;
    max-width: 760px;
  }

  .production__lines {
    margin: 0 0 40px 0;
  }

  .production__line {
    flex-direction: column;
  }

  .line__name {
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .line__name > h3 {
    font-size: 15px;
  }

  .production__details {
    justify-content: center;
    align-items: center;
  }

  .productionDetails__top {
    display: grid;
  }

  .productDetails__top {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
    justify-items: center;
    grid-template-areas: "contact contact ";
  }

  .image__1 > img {
    width: 100%;
  }

  .all__description {
    margin: 30px 0;
    width: 50%;
  }

  .contact {
    grid-area: contact;
  }

  .all__equipments {
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .whole__page {
    width: 100%;
  }

  .page__right {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
    margin: 5px;
  }

  .search__bar {
    width: 150px;
  }

  .right__part {
    width: 100%;
  }

  .mySlides > img {
    min-height: 200px;
  }

  .products {
    margin: 10px;
    max-width: none;
    top: 30px;
  }

  .production__lines {
    margin: 0 0 40px 0;
  }

  .production__line {
    flex-direction: column;
  }

  .line__name {
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .line__name > h3 {
    font-size: 15px;
  }

  .production__details {
    justify-content: center;
    align-items: center;
  }

  .productDetails__top,
  .productionDetails__top {
    flex-direction: column;
    width: 100%;
  }

  .productDetails__bottom {
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .productDetails__bottom > img {
    width: 80%;
    margin-bottom: 30px;
  }

  .image__1 {
    width: 90%;
  }

  .image__1 > img {
    width: 100%;
  }

  .machine__details,
  .production__details {
    width: 100%;
  }

  .dataTable {
    width: 90%;
    margin-bottom: 40px;
  }

  .productionDetails__top {
    justify-content: center;
    align-items: center;
  }

  .production__image {
    width: 70vw;
    margin: 10px;
  }

  .production__image > img {
    width: 100%;
    margin: 10px;
  }

  .production__contacting {
    max-width: 320px;
  }

  .production__name > h2 {
    font-size: 20px;
  }

  .production__name > h3 {
    font-size: 17px;
  }

  .productionDetails__bottom {
    max-width: 320px;
    margin: 10px;
  }
}
